@model PPM_Model.RoleModel
@{
    ViewBag.Title = "EditRole";
}
<style>
    body {
        background-image: url('../../Content/themes/base/images/Allbg.jpg');
        background-size: cover;
        color: black;
    }
</style>

<body>
    <h2>EditRole</h2>
    @using (Html.BeginForm("EditRole", "Role", FormMethod.Post))
    {
        <div class="container">
            <div class="form-group">
                <div class="form-group">
                    <label> Name</label>
                    @Html.ValidationMessageFor(x => x.RoleName, "", new { @class = "error" })
                    @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
                    @Html.HiddenFor(x => x.RoleId, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
        <div>
            <a href="@Url.Action("RoleList")" class="btn btn-primary">Back To Role</a>
        </div>
    }
</body>