
<!--@{
//ViewBag.Title = "Ppm";
}-->

@*<h2>Ppm</h2>*@

<!--<style>
    body {
        /*background-color: gray;*/
        background-image: url('../../Content/themes/base/images/ppm.jpg');
        background-size: cover;
        color: white;
    }
    h1 {
        text-align: center;
        margin: 200px 50px 50px 50px;
        font: bold 80px italic,Brush Script MT;
    
</style>

<body>
    <h1> PPM</h1>
</body>-->